"use strict";
exports.trilaud_config = {
	username: "",			//your username
	alertOnPings: false,	//set it true if you want messages containing your username logged		
	oauth: "",				//get it from https://twitchapps.com/tmi/
	pingsound: "",			//sound to play when you get binged if alertOnPings is set to true
	giftsound: ""			//sound to play when get a gift
}

/*
 * sounds must be wav files. You can use absolute or relative paths.
 * Leave the settings empty ("") if you don't want dink-donk.
 * For long Windows paths remember to double the slashes!
 * YES: C:\\sounds\\bing.wav
 * NO: C:\sounds\bing.wav
 *
 */
 
 
