"use strict";
exports.trilaud_config = {
	username: "",			//your username
	alertOnPings: false,	//set it true if you want messages containing your username logged		
	oauth: "",				//get it from https://twitchapps.com/tmi/
	pingsound: "",			//sound to play when you get binged if alertOnPings is set to true
	giftsound: "",			//sound to play when get a gift
	textcolors: true,		//set it to false to make stdout sparkle
	httpPort: 8500,			//set it to 0 to disable the http server.
	httpHost: "127.0.0.1",
	dateformat: "YMD",
	log2file: true,			//set it to false to log only to console. if you use pm2 it logs by default
	restartOnCapError: true	//set it to false to not restart the client on capabilitieserrors
							//DANGEROUS! only use it if you know what you're doing pajaS
}

/*
 * sounds must be wav files. You can use absolute or relative paths.
 * Leave the settings empty ("") if you don't want dink-donk.
 * For long Windows paths remember to double the slashes!
 * YES: C:\\sounds\\bing.wav
 * NO: C:\sounds\bing.wav
 * 
 * You can use the supplied beepbeep.wav file
 *
 * Date formats:
 * YMD for 2021-12-27 year-month-day (default if it's non-set or set to an invalid value)
 * DMY for 27-12-2021 day-year-month
 * MDY for KKonaW 12-27-2021 month-day-year format
 */
 
 
